.cardDetail {
  position: relative;
  width: 100%;
  background: rgba(242, 232, 232, 0.534);
  border-radius: 15px;
}

.cardDetail img {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card-inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 10px;
}

.card-inner span {
  margin: 10px 0px;
}

.review {
  width: 100%;
  background: rgba(242, 232, 232, 0.534);
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0px;
}
.review p {
  font-weight: bold;
}

.review span {
  font-weight: normal;
}
